# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List examples of open-source tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Scala etc...;

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Numpy
4. SciPy
5. Pytorch etc...;

|Data Science Tools|
|---|
|R Studio|
|Weka|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ela Dodaj